body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#wrapper {
  min-height: 91vh;
  margin-bottom: 5vh;
}

#header-container {
   background-image: url('./images/header.jpeg');
   background-size: cover;
   background-position: center;
   height: 50vh;
   padding-top: 10vh;
   margin-bottom: 1vh;
}

#title-text {
  font-size: 6em;
}

#subtitle-text {
  font-size: 2em;
  padding: 5px;
}

#footer-container {
  background-color: black;
}

.white-text {
  color: white;
  text-shadow: 1px 1px 2px #000000;
}

.white-background {
  background-color: white;
}

.margin-top {
  margin-top: 5vh;
}

.card-height {
  height: 170px;
}

.title-text {
  font-size: 1.75em;
}

.paragraph-text {
  margin: 10%;
  font-size: 1.2em;
  color: rgb(152,152,152)
}
